@page
@model EagleFlight.Pages.Admin.Planes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"  enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Plane.Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@Model.Plane.Description"/>
            </div>
            <div class="form-group">
                @* <p>ImageFile: @Model.Plane.ImageFile</p> *@
                @* <input asp-for="Plane.ImageFile" class="form-control" value="@Model.Plane.ImageFile" type="hidden"/>                 *@
                <p>ImageFile: </p>
                    <img id="img-chosen" src="@Model.Plane.ImageFile" alt="Picture" style="width:100px">
                    <input asp-for="Upload" class="form-control" />
                    <span asp-validation-for="Upload"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="MaxPassenger" class="control-label"></label>
                <input asp-for="MaxPassenger" class="form-control" value="@Model.Plane.MaxPassenger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
